<h1 id="tableLabel">Lista de Funcionários</h1>

<p>Aqui está a lista de todos os funcionários cadastrados</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>RG</th>
      <th>Id Departamento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let funcionarios of funcionarios">
      <td>{{ funcionários.id }}</td>
      <td>{{ funcionários.nome }}</td>
      <td>{{ funcionários.rg }}</td>
      <td>{{ funcionários.foto }}</td>
      <td>{{ funcionários.departamentoid }}</td>
    </tr>
  </tbody>
</table>
